

// portfolio
.info-tile {
    display:inline-block;
    position:relative;
    float:left;
    width:150px;
    height:150px;
    margin:5px;
    border-color: #000000;
    border-width: 0px;
    border-style:solid;
}

.info-tile:hover {
    border-color:#cccccc;

}

.info-tile .title {
    position:absolute;
    left:0px;
    bottom:0px;
    margin:5px 0 5px;
    padding: 0 5px 0;
    color:red;
    text-align:left;
    font-family: Segoe UI Light;
    font-size:15px;
    background-color: hsla(0,100%,100%,0.9);     
}

.info-tile .date {
    color:black;
    font-size:10px;
  
}
.info-tile a {
    position:absolute;
    left:0;
    top:0;
    padding:10px;
    width:130px;
    height:130px;
    background-color: hsla(0,100%,100%,0);


}

.info-tile a:hover {
    background-color: hsla(0,100%,100%,0.5);  
}

.info-tile img {

    width:150px;
    height:150px;
}


.tile {
    display:inline-block;
    position:relative;
    width: 78px;
    height: 78px;
    margin:1px;


}

.tile img {
    position:absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;

}

.tile a {
    position:absolute;
    left:0;
    top:0;
    width: 78px;
    height: 50px;
    padding:14px 0 14px;
    color: rgba(0,0,0,0);

    
    font-size:50px;
    line-height:50px; 
    text-align: center;


}

.tile a:hover {
    color:white;

    background: rgba(0, 0, 0, 0.7);

}